#cloud-config

# FDS Instance Setup
# This cloud-init file installs all dependencies and FDS software

package_update: true
package_upgrade: false

apt:
  sources:
    intel-oneapi:
      source: "deb [signed-by=$KEY_FILE] https://apt.repos.intel.com/oneapi all main"
      key: |
        -----BEGIN PGP PUBLIC KEY BLOCK-----

        mQENBFfriU0BCADD98BaTc+sNO2nk7UwfhNIwiyN+8PtoozyIQtITGViuLGTC2f7kcA08blM+pkz
        qGc9+uYosY5zW++HPowg+b1IEvPAGv1/WzDgCcm8vMbvmgs9GQL64X81mkXglGO1xI7VFQ5KxvQY
        oaOA4NFSw0L3RTYyGl2AAGRbkEmdUg+6DCUZ5aNp+ZUhH5sV3rpUwWj8aJw/1SUm8KmA6GTb8a+s
        hQhygablAVyxY29/F4reIYD3TJsnKl9xcoc+NMaT76rOaL9TU71dhn9DRl6I2S63r4QmZXIgcikt
        vzbWwny8IBPFrh/5HaVh+eGIVg7aC/6ZPvwLzVTiKtywP3JP9OXzABEBAAG1AEIiQ04gPSBJbnRl
        bChSKSBTb2Z0d2FyZSBEZXZlbG9wbWVudCBQcm9kdWN0cyIsIE89SW50ZWwgQ29ycG9yYXRpb26J
        AT4EEwEIACgFAlfriU0CGwMFCQWiSQAGCwkIBwMCBhUIAgkKCwQWAgMBAh4BAheAAAoJEBqEl7EZ
        EeCX1+gH/1ChlnCBN9SqB1xKW6gPPX+9UcqTD+kr1HPve64S0eSoV86U5iKNPVdJ3GcRrEd/hNuh
        eiazQaxLjHBIkHMbur1x3/91uYFdVOndwKJwIRKZmP2vCjucNb8FO3I4lINevVn7IHTf4hMMyFEd
        0ZLBvlmxXqOlV2Tb4ACGFPhLLhKNvkf6TFCCc0VoYmcyNecWEoh2ZZ9w/+uuY2pKkNulrjPFWjKA
        G1TEIim+KkpzoBjBWAlb+Rf0OkahAWjc0LCbiA22oIdJxwsWYGqlJMSXCB5Q+Vk8duHRIm6tf5L3
        7ymDS8lnPgq3871dhD+i5K6LTXdlY9Yk2Nv2BbDLSm42l+A=
        =r6NW
        -----END PGP PUBLIC KEY BLOCK-----
        -----BEGIN PGP PUBLIC KEY BLOCK-----

        mQENBF2Ru1cBCADET6CERkWEDRAF6GIEceiajgMFT6BepRjF26rtnyEXdAXT4vU+wLqg0DE5Va1t
        4ZAXcIHJ3g1OuGw7Vst2b7WySJl1cFvRSOxZg7Em0QUd51c7n0IYX6FL55Ern2pU3sL2NfJnyrKi
        HBSTBGqMFELF5cTaY4E1GQyIUj0BrwUXMpLuxxL0ISyz2CNFnJuENbunbax0L5LrHLFwcsTEvT9q
        ZVcP5G+xZBmhPOJ3bR3LHZN/9tj1E6IEzFOY/S/jfqXKmwbR4EzZ7pTtBqNzDm6bviWwQHyh6euw
        eoDhTa6TAUUsP5vIL+7iWDQd9X10XyByWEsLaQbWNBCPxAwRTAgnABEBAAG1ACZJbnRlbChSKSBT
        b2Z0d2FyZSBEZXZlbG9wbWVudCBQcm9kdWN0c4kBPgQTAQgAKAUCXZG7VwIbAwUJB4YfgAYLCQgH
        AwIGFQgCCQoLBBYCAwECHgECF4AACgkQrPqfxX5sXb7L5Qf/cxJs9tDCea0ZWqeSX1lAjuff2Bku
        H/yXwvu625DcAneUemho6NDck2LJKhpUM/9teyQWGTIIuz8IlIr3zYeK8VmVitm6cgjD07TYeh5j
        71eAd7R1o49IUhIx/cXcuBcYHOw9kWCpl05D85xByZxkF7tlShLwVveyNGeVzU8aBJPhqoPGzIP0
        /CJ3c2Qe09UMmqyhUw5ETMqBxR1E+vFCqAHfa3VdtOc8gIfmMK50t/wjE33RdnMI0cHoqmRLFj6C
        ppBjBabIY+ro1focySyJ8cLkVEsk0T6u0s2B8nj+ctjasYAeZCmk6shNh9Y06zHkRcBS/cy2bHeB
        4nKs3YBvpA==
        =aXpT
        -----END PGP PUBLIC KEY BLOCK-----
        -----BEGIN PGP PUBLIC KEY BLOCK-----

        mQENBF07HV4BCADOChlmn/KbyUa5cffv4VlKfeI29FiOqXYW1AFhJLTmzvzTSTI6K1pdJKfZAT71
        9uUz6p0lUkbjyTTgUOwQbXULyehGqe0dHQ8rVU1NPzWkmlu/Z1P7WWyd/z1gNRKXz0BcGE0HUfdh
        IPSlNykqO1yaJfO55jT6KGjZHe4caR125my9EvwA9zAmF5MGQdNZPPnuh1VIEzqJAuPU/3hmBXjK
        epsMO6Wz1IXCvFByAvsLLDHxRag1ImBzZ6zc2LQuGGcZfjuH0cnJ1moxKEbfl13eGTCCgKN2nVPj
        b0G2uHY2xaWQMNBvYwuCWl4X7/iltJL21L0TNhECbiXgpvSS6Wd1ABEBAAG1ABVLRVktUElEVC1Q
        R1AtMjAxOTA3MjaJAT4EEwEIACgFAl07HV4CGwMFCQeGH4AGCwkIBwMCBhUIAgkKCwQWAgMBAh4B
        AheAAAoJEDa5Vps/GhvHMAUH/RwVG9JXvjLZ50nTo92Anm0cwdGq4Mb0Dr9eTg7xLxYiwV2TZ9Et
        iSrjrmpvKXeboJBES8fFx4AtkOMq7t25b1HTq72UTeYhVaddjQ7saf0W/mxjvGIKJgJPtQKZuxDa
        X5f4IQrhxbsR6rgXM4MOUR2ru+ejfZc6MQ7uQ1TKlA3/Z3aq1EXVzVCOzcg+N7Tz0VoqrRROuX0Z
        +qFqK5QW3u/G9ORpSQq1C/ATI2+4qmSvFixoyx+FvIxqtozj5hXSG7cEaS8fGCdOjJhw1QXudfAr
        izojEplMaapSKWoe3i0P+x5DdGBWuxLhA8iJt150rU4QMrh14FN7xLHBMY/7QW4=
        =rudQ
        -----END PGP PUBLIC KEY BLOCK-----
        -----BEGIN PGP PUBLIC KEY BLOCK-----

        mQENBF7Cku4BCADJYMbAmWE7IKY3QCIWm6EDSA4zvE2nj9mxOaTa02ZxXilEhQuU7pJlubqSbpPB
        /+und2L0ITRnZgYCDNNH3702bFVZPjgy/6R4ruZpz0GjlwijHIwLSS57irkXjF6RHB8VFhNy7949
        ua5a1NuBFvdRiaxSGE2mBv8pXrwiMqrS5mGXLVk6niS6zukVeQsxMZrdz1ScXvFeivotjbeTJu5K
        S4fuPzUTieNwrB519V4zvs5WNZIT0WipQxh/AODJK5jFug7zdCtOFv4YOZ1dlSciO4hxmHo8hvb8
        8mWHYmtBbZNWlpG1Aw6tmsKp3jVP/QvYaXZBdzoeEtxCCJBmxxxnABEBAAG1ADxDTj1JbnRlbChS
        KSBTb2Z0d2FyZSBEZXZlbG9wbWVudCBQcm9kdWN0cyAoUFJFUFJPRCBVU0UgT05MWSmJAT4EEwEI
        ACgFAl7Cku4CGwMFCQeGH4AGCwkIBwMCBhUIAgkKCwQWAgMBAh4BAheAAAoJEGQHNkJ4cqIgc00H
        /3aiK0HUaUh14TowUoKHxtD3tFNCRZ0BJIVmkxCKeKyqsFyUuIR7Ju36wgJjlRZgFaQo9eIgrTcq
        AjpFbXQOoeKjSjwP4O2i8/N75Sb+FRemP2WVz78DQxBEJAMjOydc/J1QMtWcu2jVXmrrCxZBK7Nl
        3TN/ZmQ5bgQ7Ifw1RFKtZCgGE50lRu2Zwcu4MKlIrIsovhds7HYCHhvG8VBEcoO5kqAVEeNr8iPX
        1W/f+e8c3inRSwGHt4P9O/cAeW/OVGXllXKwpbVVmEVErfwGgJmR+9syBZZv9Kb6KWgeP/y9091E
        wlB39FLnH/DsLu9AwNHGwDgmKTWQcwWhMQjnxRI=
        =7ONs
        -----END PGP PUBLIC KEY BLOCK-----
        -----BEGIN PGP PUBLIC KEY BLOCK-----

        mQENBGTjd+UBCACt47X3K1GWHMdF+tqpdwj45kFf3qvtUWgv/da60yIMTD+pA103CPjTfLO0TSzb
        Z+OiImSYRNuNyxhS04fF6vs74W6GQC2tLoznGtm++sLqs671EUc47O8OeaYOdfUpeiH2yJpjTBMM
        M0APNYi25zMNF4OKg1DJh8tA65PcZCQvEQNGSf7n8/x8gkl8hRe8wcRamQxSm7osZXD6pRpmebOl
        qzZGbWq+cBC36AG65UNLu1FKZJzyFPD20L6hPST9NHpX8nsSWrfhAAfuaqtvTiagd7RMTN8G0gB+
        KRgTHFqTE9kAG1IPajtBhDCVjZpD0qO23kl97eytTw55JlJadpIjABEBAAG1AClDTj1JbnRlbChS
        KSBTb2Z0d2FyZSBEZXZlbG9wbWVudCBQcm9kdWN0c4kBPgQTAQgAKAUCZON35QIbAwUJB4YfgAYL
        CQgHAwIGFQgCCQoLBBYCAwECHgECF4AACgkQusbww1PQQQnOOAgAjtY2Z0OA1i9g/b77TeqXCkOB
        ZOA+gTKwv7L95+53OXU3fI2dL83JN8iOon7CB7vS5FfU3tGPh6whyvPyUB0n2w5CNBPnZrUGd/5h
        LZw+wPCcyPkzjYwvMzrbWWTpRLAREdXJGsb69irQlziWuQg8ybE6Sfa9/JKCBltBDWM0E8UGnmdW
        JOI2/822oGGYkfINTJiAc7WpNDB4zVfnH7U70e3OITBPZa3iynM5tjCW11X7hf4ezh34th5ST32D
        y2nj9aOun5gdDivjRrW5jKJXzWch7g4mSmCvA870Egeh4XkWNTzZejXc0VOCmj/7mvOpmlzDwl+v
        YS0tJz0njEbHjQ==
        =xkiC
        -----END PGP PUBLIC KEY BLOCK-----

packages:
  - build-essential
  - libncurses6
  - tmux
  - jq
  - unzip
  - wget
  - curl
  - gnupg
  - cmake
  - git
  - intel-oneapi-compiler-fortran
  - intel-oneapi-compiler-dpcpp-cpp
  - intel-oneapi-mpi
  - intel-oneapi-mpi-devel
  - intel-oneapi-mkl-devel
  - intel-oneapi-compiler-shared-runtime-2025.3  # Runtime libs (libimf.so) - protected from autoremove

write_files:
  - path: /tmp/ghostty.terminfo
    permissions: "0644"
    content: |
      xterm-ghostty|ghostty|Ghostty,
      	am, bce, ccc, hs, km, mc5i, mir, msgr, npc, xenl,
      	colors#0x100, cols#80, it#8, lines#24, pairs#0x7fff,
      	acsc=++\,\,--..00``aaffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyyzz{{||}}~~,
      	bel=^G, blink=\E[5m, bold=\E[1m, cbt=\E[Z, civis=\E[?25l,
      	clear=\E[H\E[2J, cnorm=\E[?12l\E[?25h, cr=\r,
      	csr=\E[%i%p1%d;%p2%dr, cub=\E[%p1%dD, cub1=^H,
      	cud=\E[%p1%dB, cud1=\n, cuf=\E[%p1%dC, cuf1=\E[C,
      	cup=\E[%i%p1%d;%p2%dH, cuu=\E[%p1%dA, cuu1=\E[A,
      	cvvis=\E[?12;25h, dch=\E[%p1%dP, dch1=\E[P, dim=\E[2m,
      	dl=\E[%p1%dM, dl1=\E[M, dsl=\E]2;\007, ech=\E[%p1%dX,
      	ed=\E[J, el=\E[K, el1=\E[1K, flash=\E[?5h$<100/>\E[?5l,
      	fsl=^G, home=\E[H, hpa=\E[%i%p1%dG, ht=^I, hts=\EH,
      	ich=\E[%p1%d@, ich1=\E[@, il=\E[%p1%dL, il1=\E[L, ind=\n,
      	indn=\E[%p1%dS,
      	initc=\E]4;%p1%d;rgb:%p2%{255}%*%{1000}%/%2.2X/%p3%{255}%*%{1000}%/%2.2X/%p4%{255}%*%{1000}%/%2.2X\E\\,
      	invis=\E[8m, kDC=\E[3;2~, kEND=\E[1;2F, kHOM=\E[1;2H,
      	kIC=\E[2;2~, kLFT=\E[1;2D, kNXT=\E[6;2~, kPRV=\E[5;2~,
      	kRIT=\E[1;2C, kbs=^?, kcbt=\E[Z, kcub1=\EOD, kcud1=\EOB,
      	kcuf1=\EOC, kcuu1=\EOA, kdch1=\E[3~, kend=\EOF, kent=\EOM,
      	kf1=\EOP, kf10=\E[21~, kf11=\E[23~, kf12=\E[24~,
      	kf13=\E[1;2P, kf14=\E[1;2Q, kf15=\E[1;2R, kf16=\E[1;2S,
      	kf17=\E[15;2~, kf18=\E[17;2~, kf19=\E[18;2~, kf2=\EOQ,
      	kf20=\E[19;2~, kf21=\E[20;2~, kf22=\E[21;2~,
      	kf23=\E[23;2~, kf24=\E[24;2~, kf25=\E[1;5P, kf26=\E[1;5Q,
      	kf27=\E[1;5R, kf28=\E[1;5S, kf29=\E[15;5~, kf3=\EOR,
      	kf30=\E[17;5~, kf31=\E[18;5~, kf32=\E[19;5~,
      	kf33=\E[20;5~, kf34=\E[21;5~, kf35=\E[23;5~,
      	kf36=\E[24;5~, kf37=\E[1;6P, kf38=\E[1;6Q, kf39=\E[1;6R,
      	kf4=\EOS, kf40=\E[1;6S, kf41=\E[15;6~, kf42=\E[17;6~,
      	kf43=\E[18;6~, kf44=\E[19;6~, kf45=\E[20;6~,
      	kf46=\E[21;6~, kf47=\E[23;6~, kf48=\E[24;6~,
      	kf49=\E[1;3P, kf5=\E[15~, kf50=\E[1;3Q, kf51=\E[1;3R,
      	kf52=\E[1;3S, kf53=\E[15;3~, kf54=\E[17;3~,
      	kf55=\E[18;3~, kf56=\E[19;3~, kf57=\E[20;3~,
      	kf58=\E[21;3~, kf59=\E[23;3~, kf6=\E[17~, kf60=\E[24;3~,
      	kf61=\E[1;4P, kf62=\E[1;4Q, kf63=\E[1;4R, kf7=\E[18~,
      	kf8=\E[19~, kf9=\E[20~, khome=\EOH, kich1=\E[2~,
      	kind=\E[1;2B, kmous=\E[<, knp=\E[6~, kpp=\E[5~,
      	kri=\E[1;2A, oc=\E]104\007, op=\E[39;49m, rc=\E8,
      	rep=%p1%c\E[%p2%{1}%-%db, rev=\E[7m, ri=\EM,
      	rin=\E[%p1%dT, ritm=\E[23m, rmacs=\E(B, rmam=\E[?7l,
      	rmcup=\E[?1049l, rmir=\E[4l, rmkx=\E[?1l\E>, rmso=\E[27m,
      	rmul=\E[24m, rs1=\E]\E\\\Ec, sc=\E7,
      	setab=\E[%?%p1%{8}%<%t4%p1%d%e%p1%{16}%<%t10%p1%{8}%-%d%e48;5;%p1%d%;m,
      	setaf=\E[%?%p1%{8}%<%t3%p1%d%e%p1%{16}%<%t9%p1%{8}%-%d%e38;5;%p1%d%;m,
      	sgr=%?%p9%t\E(0%e\E(B%;\E[0%?%p6%t;1%;%?%p2%t;4%;%?%p1%p3%|%t;7%;%?%p4%t;5%;%?%p7%t;8%;m,
      	sgr0=\E(B\E[m, sitm=\E[3m, smacs=\E(0, smam=\E[?7h,
      	smcup=\E[?1049h, smir=\E[4h, smkx=\E[?1h\E=, smso=\E[7m,
      	smul=\E[4m, tbc=\E[3g, tsl=\E]2;, u6=\E[%i%d;%dR, u7=\E[6n,
      	u8=\E[?%[;0123456789]c, u9=\E[c, vpa=\E[%i%p1%dd,
  - path: /tmp/install-fds.sh
    permissions: "0755"
    content: |
      #!/bin/bash
      set -exo pipefail

      source /opt/intel/oneapi/setvars.sh

      export FIREMODELS=/opt/firemodels
      mkdir -p "$FIREMODELS"
      cd "$FIREMODELS"

      git clone -b FDS-6.10.1 --depth 1 https://github.com/firemodels/fds.git
      git clone -b v2.32.0 --depth 1 https://github.com/hypre-space/hypre.git
      git clone -b v6.7.0 --depth 1 https://github.com/LLNL/sundials.git

      cd "$FIREMODELS/fds/Build/impi_intel_linux"
      ./make_fds.sh

      mkdir -p /opt/fds/bin
      cp fds_impi_intel_linux /opt/fds/bin/fds

      cat > /etc/profile.d/fds.sh << 'FDSENV'
      source /opt/intel/oneapi/setvars.sh > /dev/null 2>&1
      export PATH=/opt/fds/bin:$PATH
      FDSENV

      grep -q "source /etc/profile.d/fds.sh" /home/ubuntu/.bashrc || echo "source /etc/profile.d/fds.sh" >> /home/ubuntu/.bashrc

      echo "FDS installed successfully"
  - path: /usr/local/bin/sync-to-s3.sh
    permissions: "0755"
    content: |
      #!/bin/bash
      set -euo pipefail

      # Sync script that periodically syncs local directory to S3
      # Usage: sync-to-s3.sh <local_dir> <s3_bucket>

      if [ "$#" -ne 2 ]; then
          echo "Usage: $0 <local_dir> <s3_bucket>"
          exit 1
      fi

      LOCAL_DIR="$1"
      S3_BUCKET="$2"

      echo "Starting S3 sync: $LOCAL_DIR -> s3://$S3_BUCKET/"

      while true; do
          aws s3 sync "$LOCAL_DIR/" "s3://$S3_BUCKET/" --quiet
          sleep 10
      done
  - path: /etc/systemd/system/fds-sync.service
    permissions: "0644"
    content: |
      [Unit]
      Description=Sync FDS output to S3
      After=network-online.target
      Wants=network-online.target

      [Service]
      Type=simple
      User=ubuntu
      Group=ubuntu
      ExecStart=/usr/local/bin/sync-to-s3.sh /home/ubuntu/fds-work fds-output-wang-fuk-fire
      Restart=on-failure
      RestartSec=5

      [Install]
      WantedBy=multi-user.target

snap:
  commands:
    - snap install aws-cli --classic

runcmd:
  - tic -x /tmp/ghostty.terminfo && rm -f /tmp/ghostty.terminfo
  - test -x /opt/fds/bin/fds || /tmp/install-fds.sh
  - mkdir -p /home/ubuntu/fds-work
  - chown ubuntu:ubuntu /home/ubuntu/fds-work
  - systemctl daemon-reload
  - systemctl enable fds-sync.service
  # Cleanup for AMI creation - remove build-time files
  - rm -rf /opt/firemodels/fds /opt/firemodels/hypre /opt/firemodels/sundials
  - rm -f /tmp/install-fds.sh
  # Remove Intel development packages (keep only runtime)
  - apt-get remove -y --purge build-essential cmake gcc g++ make cpp binutils
  - apt-get remove -y --purge intel-oneapi-compiler-fortran intel-oneapi-compiler-dpcpp-cpp
  - apt-get remove -y --purge intel-oneapi-dpcpp-debugger-2025.3
  - apt-get remove -y --purge intel-oneapi-mkl-devel intel-oneapi-mpi-devel intel-oneapi-tbb-devel-2022.3
  - apt-get autoremove -y --purge
  - apt-get clean
  - rm -rf /var/lib/apt/lists/*
  - journalctl --vacuum-time=1s
  - rm -rf /var/log/*.log /var/log/*.gz /var/log/*.[0-9]
  - rm -rf /usr/share/doc/*
  # NOTE: Security cleanup (SSH keys, machine-id) should be done manually before AMI creation

final_message: "FDS build complete. SSH in to verify, then manually run security cleanup before creating AMI."
